main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
}

fieldset {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #0d155e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=file] {
    background-color: white;
    padding: 14px 20px;
    border: 1px solid #ccc;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #142194;
}

input[type=checkbox] {
    width: auto;
    margin: 0;
    cursor: pointer;
}

.music-group {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.music-group legend {
    font-weight: bold;
    color: #333;
    padding: 0 5px;
    font-size: 1.1em;
}

.music-group div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.music-group label {
    margin-left: 8px;
}

select {
    padding: 14px 20px;
    border: 1px solid #ccc;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}